body, html, #root {
  margin:0; padding:0;
  height: 100vh;
  display:flex;
  width: 100vw;
  overflow: hidden;
}

* {
  font-family: "Work Sans", sans-serif!important;
}

.echoBotContainer {
  flex-direction: column;
  color: rgb(90, 90, 90);
  font-size: 12px;
  min-height: 0px;
  width: 100%;
  min-width: 100%;
  max-width: initial;
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 100%;
  position: initial;
}

.mainWrapper {
  min-height: 0px;
  width: 100%;
  background-color: transparent;
  position: inherit;
  height: 100%;
  right: initial;
  bottom: initial;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}