.echoBotMessageInput{
    box-sizing: border-box!important;
    resize: none!important;
    outline: none!important;
    width: 100%!important;
    font-size: 1em!important;
    background-color: rgb(255, 255, 255)!important;
    color: rgb(47, 47, 47)!important;
    border: 1px solid rgb(202, 201, 201)!important;
    border-radius: 2em!important;
    padding: 0.9em!important;
    height: 3.2em!important;
    overflow: hidden!important;
    box-shadow:none!important;
}

.echoBotInputBar {
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 76px;
    border: 0px;
    box-sizing: border-box;
    font-size: 12px;
    flex-shrink: 0;
}

.messageSendButtonContainer {
    display:block;
    position:absolute; 
    right:0.80rem;
    bottom:0.80rem;
    background-color: rgb(0, 113, 113);
    border-top-right-radius: 25em;
    border-bottom-right-radius: 25em;
}